<<<<<<< HEAD
.bouton{
  background: #FA43B0;
  width:150px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  padding:10px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
   }
  
body {
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 14px;
background-color: #ffffff;
padding-left: 100px;
padding-right: 100px ;
font-weight: 400px;
} 

h1 {
  color:#050D39;
  font-weight: 900px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;

}

h2 {
  color:#050D39 ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
}

h3 {
  color:#050D39 ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.h2_2{
  color: #000000;
}

#firstbox{
  display: inline-flex;
  background: rgba(229, 229, 229, 0.5);
  padding: 50px;
}

#blockleft {
  width: 800px ;
  height: auto;
}

#blocktext{
  width: 500px;
}

#form {
  border-radius: 15px;
  width: 236px;
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
} 

#rainbow{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

#unicurl{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

#unistraight{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px;
}

#havefun{
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

#sprinkles1{
  column-count: 4;
  padding: 20px;
  margin-bottom: 20px;
}

.sprinkles2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

#havefun1{
  background-color: #FFFFFF;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  column-count: 2;
  text-align: center;
}  

#sprinkles{
  text-align: center;
  margin-top: 50px;
}

#unicornstreet{
  background-color:#FFFFFF;
  padding-top: 20px;
  padding-bottom: 50px;
}

#map{
  column-count: 2;
  padding-left: 50px;
  padding-top: 10px;
}

#footer{
  column-count: 2;
  text-align: center;
  margin-top: 50px;
}
=======
.bouton{
  background: #FA43B0;
  width:150px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  padding:10px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
   }
  
body {
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 14px;
background-color: #ffffff;
padding-left: 100px;
padding-right: 100px ;
font-weight: 400px;
} 

h1 {
  color:#050D39;
  font-weight: 900px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;

}

h2 {
  color:#050D39 ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
}

h3 {
  color:#050D39 ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.h2_2{
  color: #000000;
}

#firstbox{
  display: inline-flex;
  background: rgba(229, 229, 229, 0.5);
  padding: 50px;
}

#blockleft {
  width: 800px ;
  height: auto;
}

#blocktext{
  width: 500px;
}

#form {
  border-radius: 15px;
  width: 236px;
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
} 

#rainbow{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

#unicurl{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

#unistraight{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px;
}

#havefun{
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

#sprinkles1{
  column-count: 4;
  padding: 20px;
  margin-bottom: 20px;
}

.sprinkles2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

#havefun1{
  background-color: #FFFFFF;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  column-count: 2;
  text-align: center;
}  

#sprinkles{
  text-align: center;
  margin-top: 50px;
}

#unicornstreet{
  background-color:#FFFFFF;
  padding-top: 20px;
  padding-bottom: 50px;
}

#map{
  column-count: 2;
  padding-left: 50px;
  padding-top: 10px;
}

#footer{
  column-count: 2;
  text-align: center;
  margin-top: 50px;
} 
>>>>>>> 366d755f2e9e3b773052ad179ec3174f08331f18
